

<div class="container-fluid">
<!-- Custom Header -->
<header class="d-flex flex-wrap justify-content-center py-2 fixed-top" style="background-color: black;">
  <!-- Logo & Brand -->
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" style="margin-left: 20px;">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg"
             alt="logo" width="45" height="45" class="me-2">
        <span class=" fw-bold text-white" style="font-size: 24px;">Creative Hub</span>
    </a>

    <!-- Navbar Links -->
    <ul class="nav d-flex flex-nowrap justify-content-center align-items-center" style="gap: 5px; white-space: nowrap;">
      <li class="nav-item"><a href="talent-page" class="nav-link text-white">Talent Platform</a></li>
      <li class="nav-item"><a href="learn-page" class="nav-link text-white">Course Platform</a></li>
      <!-- <li class="nav-item"><a href="cloud-page" class="nav-link text-white">Cloud Platform</a></li> -->
      <li class="nav-item"><a href="blog-page" class="nav-link text-white">Community Platform</a></li>
      <li class="nav-item"><a href="market-page" class="nav-link text-white">Market Place</a></li>
  </ul>

</header>

</div>
