<div class="container-fluid my-5 ">

  <div class="container-fluid  mt-5 mb-5">
    <!-- Filters Card -->
    <div class="row d-flex flex-wrap justify-content-center">
      <div class="card  p-4 rounded-4 border-0 w-100">
        <h4 class="fw-semibold text-primary mb-3" style="font-size: 22px;">Filters</h4>

        <div class="row d-flex flex-wrap justify-content-center">

          <div class="mb-3 col-12 col-md-3" style="font-size: 14px;">
            <label class="form-label fw-semibold" style="font-size: 14px;">Location</label>
            <input type="text" class="form-control form-control-sm border-secondary" style="font-size: 14px;"
              [(ngModel)]="selectedFilters.searchQuery" (input)="onFilterSelect($event, 'searchQuery')"
              placeholder="Enter location">
          </div>

          <!-- Languages Dropdown -->
          <div class="mb-3 col-12 col-md-3" style="font-size: 14px;">
            <label class="form-label fw-semibold">Languages</label>
            <select class="form-select  form-select-sm border-secondary"  [(ngModel)]="selectedFilters.selectedLanguage" (change)="onFilterSelect($event, 'selectedLanguage')">
              <option value="">Select Language</option>
              <option *ngFor="let lan of languages" [value]="lan">
                {{ lan }}
              </option>
            </select>
          </div>



          <!-- Qualification Dropdown -->
          <div class="mb-3 col-12 col-md-3" style="font-size: 14px;">
            <label class="form-label fw-semibold">Qualification</label>
            <select class="form-select  form-select-sm border-secondary"  [(ngModel)]="selectedFilters.selectedQualification" (change)="onFilterSelect($event, 'selectedQualification')">
              <option value="">Select Qualification</option>
              <option *ngFor="let qualification of qualifications" [value]="qualification">
                {{ qualification }}
              </option>
            </select>
          </div>

          <div class="mb-3 col-12 col-md-3 d-flex align-items-end">
            <button class="btn btn-primary w-100" style="font-size: 14px;" (click)="applyFilter()">Apply</button>
          </div>

        </div>

      </div>
    </div>

  </div>



  <div class="container-fluid mt-5 mb-5">
    <div class="row g-4">
      <!-- Card Container -->
      <div class="col-lg-12">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-stretch g-4">

          <!-- Seeker Cards -->
          <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let seeker of paginatedData">
            <app-seeker-profile-card [seeker]="seeker"></app-seeker-profile-card>
          </div>

          <!-- No Seekers Available Message -->
          <div class="col-lg-12" *ngIf="filteredData.length === 0">
            <div class="text-center text-muted fw-bold py-3">No seekers available to display.</div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
