/* Profile Sidebar Styles */
.profile {

    border-radius: 10px;
    text-align: center;
  }

  /* Avatar Styles */
  .profile-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .table th, .table td {
    padding: 10px;
    font-size: 14px;
  }
  .table th {
    font-weight: bold;
    background-color: #f8f9fa; /* Light gray */
  }
