

<div class="container-fluid bg-body-secondary  mt-5">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">


          <div class="col position-relative d-flex align-items-center justify-content-center" style="background-image: url('https://res.cloudinary.com/dpp8aspqs/image/upload/v1740547685/gradient-FZRCWTCT_d2bqiv.jpg'); background-size: cover;  height: 15vh; width: 100%; border-radius: 10px;">

            <!-- Profile Section (Left-Aligned on Top of Background) -->
            <div class="profile text-center p-4 rounded position-absolute top-50 start-0 translate-middle-y "
              style="margin-left: 30px;  border-radius: 10px; margin-top:50px; margin-left: 30px;">
              <div class="profile-avatar rounded-circle mb-3">

                <img id="avatarImage" [src]="profile?.profileDetails?.profilePicture?.url" alt="Avatar"
                  class="img-fluid">
              </div>

            </div>
          </div>


          <div class="row p-5 mt-5 g-4 text-dark d-flex align-items-start justify-content-start text-center">

            <!-- Designation Section -->


            <div class="col-auto d-flex flex-column mx-3">
              <p class="fw-semibold mb-0 text-primary">Recruiter Name</p>
              <p class="fw-semibold mb-0 text-start">{{profile?.profileDetails?.firstName}} {{profile?.profileDetails?.lastName}} </p>
            </div>


            <div class="col-auto d-flex flex-column mx-3">
              <p class="fw-semibold mb-0 text-primary text-start">Location</p>
              <p class="fw-semibold mb-0 text-start">{{profile?.profileDetails?.city}}</p>
            </div>

            <!-- Job Posts Card -->
            <div class="col-auto mx-3">
              <div class="card rounded-5 shadow-sm" style="width: 12rem; height: auto;">
                <div class="card-body d-flex align-items-center justify-content-center p-2">

                  <!-- Circular Icon with Outline -->
                  <div class="rounded-circle d-flex align-items-center justify-content-center border border-primary"
                    style="width: 40px; height: 40px; background-color: transparent; margin-left: -20px;">
                    <i class="bi bi-briefcase text-primary" style="font-size: 1.2rem;"></i>
                  </div>

                  <!-- Number & Text Section -->
                  <div class="d-flex flex-column text-start ms-3">
                    <p class="fw-semibold mb-0" style="font-size: 14px;">10</p>
                    <p class="fw-light mb-0" style="font-size: 14px;">Project uploads</p>
                  </div>

                </div>
              </div>
            </div>





          </div>




          <div class="container">
            <h5>Basic Details</h5>
            <hr class="mt-0">

            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 20%; border: none;">Full Name:</td>
                  <td style="border: none;">{{profile?.profileDetails?.firstName}} {{profile?.profileDetails?.lastName}} </td>
                </tr>
                <tr>
                  <td style="border: none;">Date Of Birth:</td>
                  <td style="border: none;">{{profile?.profileDetails?.dateOfBirth | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                  <td style="border: none;">Gender:</td>
                  <td style="border: none;">{{profile?.profileDetails?.gender}}</td>
                </tr>
                <tr>
                  <td style="border: none;">Company Name:</td>
                  <td style="border: none;">{{profile?.profileDetails?.companyName}}</td>
                </tr>
                <tr>
                  <td style="border: none;">Bio-Data:</td>
                  <td style="border: none; text-align: justify;" [innerHTML]="profile?.profileDetails?.bioDescription"></td>
                </tr>

              </tbody>
            </table>




          </div>


          <div class="container ">
            <h5>Professional details</h5>
            <hr>
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 20%; border: none;">Company Name:</td>
                  <td style="border: none;"> {{profile?.profileDetails?.companyName}}</td>
                </tr>
                <tr>
                  <td style="border: none;">Designation</td>
                  <td style="border: none;">{{profile?.profileDetails?.designation}}</td>
                </tr>
                <tr>
                  <td style="border: none;">Experience</td>
                  <td style="border: none;">{{profile?.profileDetails?.experience}} Years</td>
                </tr>

                <tr>
                  <td style="border: none;">Employee Code:</td>
                  <td style="border: none;">{{profile?.profileDetails?.employeeCode}}</td>
                </tr>
              </tbody>
            </table>

          </div>



          <div class="container ">
            <h5>Contact details</h5>
            <hr>
            <table class="table">
              <tbody>
                <tr>
                  <td style="width: 20%; border: none;">Phone Number:</td>
                  <td style="border: none;">{{profile?.profileDetails?.phoneNumber}}</td>
                </tr>
                <tr>
                  <td style="width: 20%; border: none;">Email:</td>
                  <td style="border: none;">{{profile?.profileDetails?.email}}</td>
                </tr>
                <tr>
                  <td style="border: none;">Address:</td>
                  <td style="border: none; text-align: justify;">
                    {{profile?.profileDetails?.streetAddress}}, {{profile?.profileDetails?.city}}, {{profile?.profileDetails?.state}}, {{profile?.profileDetails?.country}}, {{profile?.profileDetails?.pincode}}
                  </td>
                </tr>

              </tbody>
            </table>

          </div>







        </div>
      </div>
    </div>




    </div>
  </div>







