

  <!-- Success Message Page -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100 bg-light" style="font-family: 'Poppins', sans-serif;">
  <div class="card text-center shadow-lg" style=" max-width: 800px; width: 100%; border: 1px solid #007bff; border-radius: 15px;">
    <div class="card-body p-5">
      <div class="container pb-3 text-center">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="Logo" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
      </div>
      <h4 class="text-center mb-4 text-success poppins-bold">Account Verified Successfully!</h4>
      <p class="text-muted">Congratulations! Your account has been verified successfully.</p>
      <p class="text-muted">Please login using your credentials</p>
      <p class="mt-3">
        Click here for
        <span class="text-primary login-link poppins-medium" (click)="login()" style="cursor: pointer;">Login Page</span>
      </p>
    </div>
  </div>
</div>

