<div class="container-fluid my-5 ">

  <div class="container-fluid  mt-5 mb-5">
    <!-- Filters Card -->
    <div class="row d-flex flex-wrap justify-content-center">
      <div class="card  p-4 rounded-4 border-0 w-100">
        <h4 class="fw-semibold text-primary mb-3" style="font-size: 22px;">Filters</h4>

        <div class="row d-flex flex-wrap justify-content-center">
          <!-- Location -->
          <div class="mb-3 col-12 col-md-3">
            <label class="form-label fw-semibold" style="font-size: 14px;">Location</label>
            <input type="text" class="form-control form-control-sm border-secondary" style="font-size: 14px;"
              [(ngModel)]="selectedFilters.selectedLocation" (input)="onFilterSelect($event, 'selectedLocation')"
              placeholder="Enter location">
          </div>

          <!-- Category Dropdown -->
          <div class="mb-3 col-12 col-md-3">
            <label class="form-label fw-semibold" style="font-size: 14px;">Category</label>
            <select class="form-select form-select-sm border-secondary" style="font-size: 14px;"
              [(ngModel)]="selectedFilters.selectedCategory" (change)="onFilterSelect($event, 'selectedCategory')">
              <option value="">Choose Category</option>
              <option *ngFor="let category of jobCategories" [value]="category">
                {{ category }}
              </option>
            </select>
          </div>

          <!-- Job Type Dropdown -->
          <div class="mb-3 col-12 col-md-3">
            <label class="form-label fw-semibold" style="font-size: 14px;">Job Type</label>
            <select class="form-select form-select-sm border-secondary" style="font-size: 14px;"
              [(ngModel)]="selectedFilters.selectedJobType" (change)="onFilterSelect($event, 'selectedJobType')">
              <option value="">Select Job Type</option>
              <option *ngFor="let type of jobType" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <!-- Apply Filters Button with Search Icon -->
          <div class="mb-3 col-12 col-md-3 d-flex align-items-end">
            <button class="btn btn-primary w-100" style="font-size: 14px;" (click)="applyFilter()">Apply</button>
          </div>

        </div>

      </div>
    </div>
  </div>


  <!-- Profiles Display Section -->

  <div class="row g-4">
    <div class="col-lg-12">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4">
        <div class="col" *ngFor="let job of paginatedData">
          <app-job-post-card [job]="job"></app-job-post-card>
        </div>

        <div class="col-12" *ngIf="filteredData.length === 0">
          <div class="text-center text-muted fw-bold py-3">No jobs available to display.</div>
        </div>
      </div>
    </div>
  </div>



  <div class="row align-items-center justify-content-between mb-3 p-2 border rounded shadow-sm bg-light mt-5">

    <!-- Items per page selector -->
    <div class="col--lg-12 col-md-4  col-sm-4 d-flex align-items-center mb-3 mb-md-0" style="font-size: 14px;">
      <label for="itemsPerPage" class="fw-regular me-2 mb-0">Items per page:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="updatePagination()" class="form-select form-select-sm w-auto">
        <option *ngFor="let size of [5, 10, 15, 20, 50, 100]" [value]="size">{{ size }}</option>
      </select>
    </div>

    <!-- Pagination -->
    <div class="col-12 col-md-4  col-sm-4 d-flex justify-content-center mb-3">
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm m-0 flex-wrap">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" aria-label="Previous" (click)="onPageChange(currentPage - 1)" style="font-size: 14px; cursor: pointer;">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <li *ngFor="let page of pageNumbers" class="page-item" [class.active]="page === currentPage">
            <a class="page-link" (click)="onPageChange(page)" style="font-size: 14px; cursor: pointer;">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" aria-label="Next" (click)="onPageChange(currentPage + 1)" style="font-size: 14px; cursor: pointer;">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>



    <!-- Showing entries info -->
    <div class="col-12 col-md-4 col-sm-4 text-center text-md-end mt-3 mt-md-0">
      <div class="text-muted small" style="font-size: 14px;">
        <strong>Showing:</strong> {{ (currentPage - 1) * itemsPerPage + 1 }} - {{ getEndIndex() }} of {{ totalEntries }} entries
      </div>
    </div>

  </div>





</div>
