


<div class="container-fluid d-flex justify-content-center align-items-center vh-100" style="font-family: 'Poppins', sans-serif;">
  <div class="card  shadow-lg" style=" max-width: 600px; width: 100%; border: 1px solid #007bff; border-radius: 15px;">
    <div class="card-body p-5">
      <div class="container pb-3 text-center">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="Logo" style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%;">
      </div>
      <h4 class="text-center mb-3 text-primary poppins-bold">Forgot Password</h4>
      <p class="text-muted text-center">Enter your email address to receive a password reset code.</p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPasswordCode()">
        <div class="form-group  mt-3">
          <div class="input-group ">
            <span class="input-group-text"><i class="bi bi-envelope"  style="font-size: 1.2rem;"></i></span>
            <input [ngClass]="{'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}" placeholder="Email Address" id="email" formControlName="email" type="email" class="form-control form-control-sm rounded-0" style="height: 45px;" />
          </div>
          <div *ngIf="forgotPasswordForm.get('email')?.touched">
            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']" class="text-danger"  style="font-size: 12px;">Email is required.</small>
            <small *ngIf="forgotPasswordForm.get('email')?.errors?.['pattern']" class="text-danger">Invalid Email format.</small>
          </div>
        </div>


        <div class="text-center mt-3">
          <button type="submit" class="btn btn-outline-primary px-5 text-center mt-3 poppins-medium" [disabled]="forgotPasswordForm.invalid">Send OTP</button>

        </div>
      </form>
      <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="text-success mt-2">{{ successMessage }}</div>
    </div>
  </div>
</div>
