<div style="display: flex; align-items: center; gap: 5px; text-decoration: none;  color: inherit;">
  <i class="bi bi-arrow-left" style="font-size: 2rem; cursor: pointer;" (click)="goToSeekerPage()"></i>
  <p style="margin: 0;">Back</p>
</div>



<div class="container-fluid mt-5">

    <!-- Profile Section -->
    <div class="bg-warning d-flex align-items-center justify-content-center p-4">
      <p class="text-muted text-center fs-5">
        Seeker complete profile details, projects uploaded, statistics
      </p>
    </div>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Google map location for individual seeker
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
