
<div class="container bg-body-tertiary  mt-5 mb-4 p-5 rounded shadow" style="font-family: 'Poppins', sans-serif;">


  <form [formGroup]="companyUpdateForm" (ngSubmit)="updateCompany()">
    <div class="row">
      <div class="col-md-6 px-5">
        <div class="mb-5">
          <div class="container d-flex flex-column align-items-center justify-content-center rounded-3 file-upload-container p-4 border border-primary border-dashed">
            <!-- PREVIEW SECTION -->
            <div class="col w-100">

              <div *ngIf="!ifPreview" class="d-flex flex-wrap align-items-center justify-content-center bg-light rounded-3 mt-4 p-2 border border-secondary">
                <div class="card position-relative">
                  <img [src]="fetchedURL" class="card-img-top rounded" style="height: 100px;"  alt="Company Logo">
                </div>
              </div>

              <div *ngIf="ifPreview" class="d-flex flex-wrap align-items-center justify-content-center bg-light rounded-3 mt-4 p-2 border border-secondary">
                <div class="card position-relative">
                  <img [src]="previewURL" class="card-img-top rounded" style="height: 100px;" alt="Preview Image">
                </div>
              </div>

            </div>




            <input *ngIf="isEditMode" type="file" id="companyLogo" (change)="onFileChange($event, company.companyDetails.companyLogo.fileName)" hidden />
            <label for="companyLogo" class="file-upload-label mt-3">
              <i class="bi bi-cloud-arrow-up upload-icon text-primary" style="font-size: 30px; cursor: pointer;"></i>
            </label>
            <p class="text-muted poppins-regular" style="font-size: 14px;">Click to upload file</p>

            <!-- Dynamic Progress Bar -->
            <div class="progress w-75 mt-3" *ngIf="fileUploadProgress">
              <div class="progress-bar bg-success" [style.width.%]="fileUploadProgress | async">
                {{ fileUploadProgress | async }}%
              </div>
            </div>

            <!-- Success message -->
            <div *ngIf="uploadComplete" class="mt-3 text-success poppins-medium">Upload Completed!</div>
          </div>
        </div>
      </div>

      <!-- Company Details Section -->
      <div class="col-md-6 px-5">
        <div class="mb-3">
          <label for="companyId" class="form-label poppins-medium" style="font-size: 14px;"> Company ID <span class="text-danger">*</span></label>
          <input type="text" id="companyId" formControlName="companyId" class="form-control form-control-sm poppins-medium" placeholder="Enter the company ID" required>
          <small *ngIf="companyUpdateForm.get('companyId')?.hasError('required') && companyUpdateForm.get('companyId')?.touched" class="text-danger"> Company ID is required.</small>
        </div>

        <div class="mb-3">
          <label for="companyName" class="form-label poppins-medium" style="font-size: 14px;">Company Name <span class="text-danger">*</span></label>
          <input type="text" id="companyName" formControlName="companyName" class="form-control form-control-sm poppins-medium" placeholder="Enter the company name" required>
          <small *ngIf="companyUpdateForm.get('companyName')?.hasError('required') && companyUpdateForm.get('companyName')?.touched" class="text-danger"> Company name is required.</small>
        </div>

        <div class="mb-3">
          <label for="companyAddress" class="form-label poppins-medium" style="font-size: 14px;">Company Address <span class="text-danger">*</span></label>
          <input type="text" id="companyAddress" formControlName="companyAddress" class="form-control form-control-sm poppins-medium" placeholder="Enter the company address" required>
          <small *ngIf="companyUpdateForm.get('companyAddress')?.hasError('required') && companyUpdateForm.get('companyAddress')?.touched" class="text-danger">Company Address is required.</small>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between ">
      <button type="button" class="btn btn-sm btn-outline-danger px-4  poppins-medium" (click)="discardChanges()" *ngIf="isEditMode">Discard</button>
      <button type="submit" class="btn btn-sm btn-outline-primary px-4  poppins-medium" *ngIf="isEditMode">Update</button>
      <button type="button" class="btn btn-sm btn-outline-danger px-4  poppins-medium" (click)=" goToCompanyPage()" *ngIf="!isEditMode">Back</button>
      <button type="button" class="btn btn-sm btn-outline-info px-4  poppins-medium" (click)="openEditMode()" *ngIf="!isEditMode">Edit</button>
    </div>


  </form>


</div>



