<div class="card rounded-4 shadow border-0 p-3">
  <!-- Card Header -->

  <div class="card-header  rounded-3  d-flex align-items-center gap-3 ">
    <!-- Profile & Company Info -->
    <div class="d-flex align-items-center gap-3 ">
      <div class="d-flex justify-content-center align-items-center rounded-circle " style="width: 60px; height: 60px; border: 2px solid black;">
        <img [src]="job.companyId?.companyDetails?.companyLogo?.url" alt="Profile" class="rounded-circle"  style="width: 50px; height: 50px; object-fit: cover;">
      </div>

      <div class="text-start  d-flex flex-column " >
        <p class="fw-semibold text-primary mb-1" style="font-size: 16px;">
          {{ job.companyId?.companyDetails?.companyName }}
        </p>
        <p class="text-muted mb-0" style="font-size: 14px;">
          {{ job.jobPostDetails.jobId }} - {{ job.jobPostDetails.jobTitle }}
        </p>
      </div>

        <!-- Applied Badge (Stays on Same Row) -->
    <div>
      <button *ngIf="job.jobPostDetails.isApplied" type="button"
        class="badge btn btn-success fw-semibold px-3" style="white-space: nowrap;">
        Applied
      </button>
    </div>
    </div>


</div>






  <!-- Card Body -->
  <div class="card-body">
    <div class="row text-muted align-items-center g-3" style="font-size: 14px;">
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <span class="fw-bold">Job Type:</span>
          <span>{{ job.jobPostDetails.jobType }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <span class="fw-bold">Location:</span>
          <span>{{ job.jobPostDetails.location }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <span class="fw-bold">Category:</span>
          <span>{{ job.jobPostDetails.jobCategory }}</span>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <span class="fw-bold">Posted On:</span>
          <span>{{ job.jobPostDetails.postedOn | date:'dd-MM-yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>


  <!-- Card Footer -->
  <div class="card-footer bg-white border-0">
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-primary btn-sm px-4 rounded-3 shadow-sm fw-semibold"
        style="font-size: 14px;" (click)="jobProfile()">
        Apply Now
      </button>
    </div>
  </div>
</div>
