




<div class="container-fluid"  style="background-color: black;">
  <footer class="py-5 px-5">
    <div class="row">

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-secondary">About</h5>
        <ul class="nav flex-column"  style="font-size: 14px;">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Purpose</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Our Story</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-secondary">Learning </h5>
        <ul class="nav flex-column"  style="font-size: 14px;">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Courses</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Internships</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Work Station</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Talent Hub</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-secondary">For Developers</h5>
        <ul class="nav flex-column" style="font-size: 14px;">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Developer Hub</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Talent Hub</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Publisher Hub</a></li>

        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="text-secondary">Subscribe to our newsletter</h5>
          <p  class="nav-link p-0 text-white">Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>



    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center py-4 border-top text-center">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none mb-3 mb-md-0">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="Creative Hub Logo" width="45" height="45" class="me-2">
        <span>Creative Hub</span>
      </a>
      <p class="mb-0 text-secondary">&copy; 2024 Company, Inc. All rights reserved.</p>

      <!-- Social Icons -->
      <div class="d-flex">
        <a href="#" class="me-3" aria-label="Facebook">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        </a>
        <a href="#" class="me-3" aria-label="Instagram">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-instagram" viewBox="0 0 16 16">
            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003z"/>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</div>
