
  <div class="container-fluid  d-flex justify-content-center align-items-center vh-100" style="font-family: 'Poppins', sans-serif;" >

    <div class="col-md-4">
      <div *ngIf="!isLoading">
        <div class="card  shadow-lg" style="max-width: 400px; width: 100%; border: 1px solid #007bff; border-radius: 15px;">
          <div class="card-body p-5" style="border-radius: 15px;">

            <div class="container pb-3  text-center align-items-center">
              <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="Logo" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
            </div>

            <form [formGroup]="resetPasswordForm"  (ngSubmit)="resetPassword()">

              <!-- Password Input -->
              <div class="form-group row align-items-center mt-3">
                <div class="input-group ">

                <span class="input-group-text"><i class="bi bi-lock"  style="font-size: 1.2rem;"></i></span>
                <input [type]="showNewPassword ? 'text' : 'password'" [ngClass]="{'is-invalid':   resetPasswordForm.get('newPassword')?.invalid &&   resetPasswordForm.get('newPassword')?.touched}" placeholder="New Password" id="newPassword" formControlName="newPassword"  class="form-control form-control-sm rounded-0" style="height: 45px;" />
                <button type="button" class="btn btn-outline-secondary" (click)="showNewPassword = !showNewPassword">
                  <i class="bi" [ngClass]="showNewPassword ? 'bi-eye' : 'bi-eye-slash'" style="font-size: 1.2rem;"></i>
                </button>
                </div>
                  <small *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.errors?.['required']" class="text-danger" style="font-size: 12px;">New Password is required.</small>
                  <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']" class="text-danger">Invalid Password format.</small>
              </div>

              <!-- Confirm Password Input -->
              <div class="form-group row align-items-center mt-3">
                <div class="input-group">

                <span class="input-group-text"><i class="bi bi-lock"  style="font-size: 1.2rem;"></i></span>
                <input [type]="showConfirmPassword ? 'text' : 'password'" [ngClass]="{'is-invalid':   resetPasswordForm.get('confirmPassword')?.invalid &&   resetPasswordForm.get('confirmPassword')?.touched}" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword"  class="form-control form-control-sm rounded-0" style="height: 45px;" />
                <button type="button" class="btn btn-outline-secondary" (click)="showConfirmPassword = !showConfirmPassword">
                  <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye' : 'bi-eye-slash'" style="font-size: 1.2rem;"></i>
                </button>
                </div>
                <small *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.hasError('required')" class="text-danger" style="font-size: 12px;">Confirm Password is required.</small>
                <small *ngIf="resetPasswordForm.hasError('mismatch') &&   resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">Passwords do not match.</small>
              </div>

              <!-- Navigation Buttons -->
              <div class="text-center mt-5">
                  <button type="submit" class="btn btn-sm btn-outline-primary px-4 py-2  poppins-medium" style="font-size: 14px;" [disabled]=" resetPasswordForm.invalid">Reset</button>
              </div>



            </form>

          </div>


        </div>
      </div>

    </div>

  </div>










