


  <div class="container-fluid bg-light mt-5 " style="border-radius: 10px;">

    <!-- Profile Header Section -->
    <div class="row">
      <div class="col">
        <div class="card border-0 shadow-lg mt-3">
          <div class="card-body p-0 position-relative">

            <!-- Background Image Section -->
            <div class="position-relative d-flex align-items-center justify-content-center"
            style="background-image: url('https://res.cloudinary.com/dpp8aspqs/image/upload/v1740547685/gradient-FZRCWTCT_d2bqiv.jpg'); background-size: cover; height: 15vh; width: 100%; border-radius: 10px 10px 0 0;">

              <!-- Overlay for better readability -->
            </div>

            <!-- Profile Image -->
            <div class="profile text-center position-absolute top-50 start-50 translate-middle bg-white p-2 shadow rounded-circle">
              <img id="avatarImage" [src]="profile?.profileDetails?.profilePicture?.url" alt="Avatar" class="img-fluid rounded-circle"
                style="width: 100px; height: 100px; border: 4px solid #0d6efd;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile Information -->


    <!-- Details Sections -->
    <div class="container mt-5">
      <h5 class="text-primary">Basic Details</h5>
      <hr class="mt-0 border-primary">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 25%;">Full Name:</th>
            <td>{{profile?.profileDetails?.firstName}} {{profile?.profileDetails?.lastName}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Date of Birth</th>
            <td>{{profile?.profileDetails?.dateOfBirth | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <th scope="col">Gender</th>
            <td>{{profile?.profileDetails?.gender}}</td>
          </tr>
          <tr>
            <th scope="col">College Name</th>
            <td>{{profile?.profileDetails?.universityName}}</td>
          </tr>
          <tr>
            <th scope="col">Bio-Data</th>
            <td [innerHTML]="profile?.profileDetails?.bioDescription"></td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="container">
      <h5 class="text-primary">Educational Details</h5>
      <hr class="border-primary">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 25%;">Institution</th>
            <td>{{profile?.profileDetails?.universityName}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Program/Degree</th>
            <td>{{profile?.profileDetails?.universityDegree}}</td>
          </tr>
          <tr>
            <th scope="col">Institutional Number</th>
            <td>{{profile?.profileDetails?.universityNumber}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="container">
      <h5 class="text-primary">Contact Details</h5>
      <hr class="border-primary">

      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 25%;">Phone Number</th>
            <td>{{profile?.profileDetails?.phoneNumber}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Email</th>
            <td>{{profile?.profileDetails?.email}}</td>
          </tr>
          <tr>
            <th scope="col">Address</th>
            <td> {{profile?.profileDetails?.streetAddress}}, {{profile?.profileDetails?.city}},
              {{profile?.profileDetails?.state}}, {{profile?.profileDetails?.country}}, {{profile?.profileDetails?.pincode}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
