
<div  class="container-fluid" >

    <div style="text-align: center;" class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024439/logo_6_shrsro.svg" alt="Logo 6">
    </div>

    <div style="text-align: center; " class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024439/logo_5_wb3kdu.svg" alt="Logo 5" >
    </div>

    <div style="text-align: center; " class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024439/logo_4_dyk4kv.svg" alt="Logo 4">
      </div>

      <div style="text-align: center; " class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024438/logo_3_tgutsl.svg" alt="Logo 3">
      </div>

      <div style="text-align: center; " class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024439/logo_2_o8cfcc.svg" alt="Logo 2">
      </div>

      <div style="text-align: center; " class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024438/logo_1_tmvnu8.svg" alt="Logo 1">
      </div>

      <div style="text-align: center; " class="position-absolute top-50 start-50 translate-middle">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="Logo">
      </div>

</div>



